{{#paper-toolbar}}
  <div class="md-toolbar-tools">
    {{#link-to 'application'}}
      {{#paper-button}}Home{{/paper-button}}
    {{/link-to}}
    {{#link-to 'dashboard'}}
     {{#paper-button}}Dashboard{{/paper-button}}
    {{/link-to}}
  </div>
{{/paper-toolbar}}
{{outlet}}
